@page
@model HW6MovieSharingSolution.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
    var oid = User.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier").Value;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].IsSharable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SharedWithName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SharedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSharable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharedWithName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharedDate)
                </td>
                <td>
                    @if (Model.role.Owner == true)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        @if (item.RequestorId != null)
                        {
                            <a asp-page="./BorrowApprove" asp-route-id="@item.ID">Approve/Decline Request</a>
                        }
                        else if (item.Returned == true)
                        {
                            <a asp-page="./ReturnApprove" asp-route-id="@item.ID">Accept Return</a>

                        }
                    }
                    else if (item.IsSharable == true)
                    {
                        @if (item.SharedWithId == null)
                        {
                            <a asp-page="./Borrow" asp-route-id="@item.ID">Borrow</a>
                        }
                        else if (item.SharedWithId == oid && item.Returned != true)
                        {
                            <a asp-page="./Return" asp-route-id="@item.ID">Return</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.role.Owner == true)
{
    <div class="text-center">
        <a asp-page="./Create">Add a Movie</a>
    </div>
}

